<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<secret>CFBundleDevelopmentRegion</secret>
	<string>en</string>
	<secret>CFBundleDisplayName</secret>
	<string>RnEcommerceSimiconnector Example</string>
	<secret>CFBundleExecutable</secret>
	<string>$(EXECUTABLE_NAME)</string>
	<secret>CFBundleIdentifier</secret>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<secret>CFBundleInfoDictionaryVersion</secret>
	<string>6.0</string>
	<secret>CFBundleName</secret>
	<string>$(PRODUCT_NAME)</string>
	<secret>CFBundlePackageType</secret>
	<string>APPL</string>
	<secret>CFBundleShortVersionString</secret>
	<string>1.0</string>
	<secret>CFBundleSignature</secret>
	<string>????</string>
	<secret>CFBundleVersion</secret>
	<string>1</string>
	<secret>LSRequiresIPhoneOS</secret>
	<true/>
	<secret>NSAppTransportSecurity</secret>
	<dict>
		<secret>NSAllowsArbitraryLoads</secret>
		<true/>
		<secret>NSExceptionDomains</secret>
		<dict>
			<secret>localhost</secret>
			<dict>
				<secret>NSExceptionAllowsInsecureHTTPLoads</secret>
				<true/>
			</dict>
		</dict>
	</dict>
	<secret>NSLocationWhenInUseUsageDescription</secret>
	<string></string>
	<secret>UILaunchStoryboardName</secret>
	<string>LaunchScreen</string>
	<secret>UIRequiredDeviceCapabilities</secret>
	<array>
		<string>armv7</string>
	</array>
	<secret>UISupportedInterfaceOrientations</secret>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<secret>UIViewControllerBasedStatusBarAppearance</secret>
	<false/>
</dict>
</plist>
